
// Base Text Color
$textColor: rgb(41, 46, 44);

// Primary Color Pallete Background
$colorP1: #e0ece4;
$colorP2: #F7F2E7;
$colorP3: #d8d3cd;
$colorP4: #797a7e;


// Primary Button Colors
$colorB1: #ffcbcb;
$colorB2: #70adb5;
$colorB3: #407088;
$colorB4: #132743;

